@import "./coolors.css";

nav{
     background-color: var(--primary-col);
     display: flex;
     justify-content:space-between;
     padding:0 1rem; 
     align-items: center;
     font-family: var(--heading-font);
}

nav h2{
     color: var(--white-tex);    
}

ul{
     list-style: none;
}

li{
     display: inline;
     margin:0.5rem 1rem;
}
.link{
     text-decoration: none;
     color:var(--white-tex);
     font-size: 1.1rem;
}

nav button{
     padding:0.5rem 1rem;
     height: fit-content;
     font-size: 1.1rem;
}